{{ define "Edit" }}
<!DOCTYPE html>
<html lang="en-US">
    <head></head>
    <body>
        <form method="POST" action="/company/update" id="Edit">
            <table>
                <thead>
                    <tr>
                        <td><b>ID</b></td>
                        <td><b>Name</b></td>
                        <td><b>Category</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="hidden" name="id" value="{{ .ID }}"/>{{ .ID }}</td>
                        <td><input type="text" name="name" value="{{ .Name }}"/></td>
                        <td><input type="text" name="type" value="{{ .Type }}"/></td>
                    </tr>
                </tbody>
            </table><br>
        </form>
        <button type="submit" form="EditCompany" value="Save" autofocus>Save</button>
    </body>
</html>
{{ end }}