{{ define "NewCompany" }}
<!DOCTYPE html>
<html lang="en-US">
    <head></head>
    <body>
        <form method="POST" action="/company/insert" id="NewCompany">
            <table>
                <thead>
                    <tr>
                        <td><b>Name</b></td>
                        <td><input type="text" name="name" required/></td>
                    </tr>
                    <tr>
                        <td><b>Category</b></td>
                        <td><input type="text" name="type" required/></td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table><br>
        </form>
        <button type="submit" form="NewCompany" value="Save" autofocus>Save</button>
    </body>
</html>
{{ end }}