{{ define "New" }}
<!DOCTYPE html>
<html lang="en-US">
    <form method="POST" action="/admin/flow/insert" id="newRole"> 
        <table>
            <thead></thead>
            <tbody>
                <tr>
                    <td><b>Name:</b></td>
                    <td><input type="text" name="name" required placeholder="Write the name here"></td>
                </tr>
                <tr>
                    <td><b>#Roles:</b></td>
                    <td><input type="number" name="number" min="2" max="20" required placeholder="Enter the number of roles between 2 and 20"></td>
                </tr>
            </tbody>
        </table><br>
    </form>
     <button type="submit" form="newRole" autofocus>Save</button> 
</html>
{{ end }}