{{ define "Detail" }}
<!DOCTYPE html>
<html lang="en-US">
    <head></head>
    <body>
        <div class="type">
            <p>Flow Type: <b>{{ .Type }}</b></p>
        </div>
        <div class="routing">
            <p>Current Step: <b>{{ .StrCurrentStep }}</b></p>
            <p>Prior Step: <b>{{ .PriorStep }}</b> & Next Step: <b>{{ .NextStep }}</b></p>
        </div>
        <div class="description">
            <p>Notes from Previous Step:<br>
                <b>{{ .Description }}</b>
            </p>
        </div>
        <form method="POST" action="/request/update?id={{ .ID }}&cs={{ .CurrentStep }}&type={{.Type}}" id="request">
            <div class="myD1iscription">
                <p>Your Notes[optional]:</p>
                <textarea name="description" cols="70" rows="10"></textarea>
            </div>
            <div class="decision">
                {{if eq .IsLastStep true}}
                    <input type="radio" name="decision" value="complete" required>Finalize<br><br>
                {{else}}
                    <input type="radio" name="decision" value="approve" required>Approve<br><br>
                {{end}}
                {{if eq .IsFirstStep true}}
                    <input type="radio" name="decision" value="terminate" required>Terminate
                {{else}}
                    <input type="radio" name="decision" value="reject" required>Reject
                {{end}}
            </div>
        </form><br>
        <button type="submit" form="request" autofocus>Submit</button>
    </body>
</html>
{{ end }}