{{ define "Echo" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
            <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
            <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    </head>
    <body>
        <table id="echo" class="display">
            <thead>
                <tr>
                    <td><b>ID</b></td>
                    <td><b>Flow Name</b></td>
                    <td><b>Current Step</b></td>
                    <td><b>Status</b></td>
                    <td><b>View</b></td>
                    <td><b>Delete</b></td>
                    <td><b>Created At</b></td>
                    <td><b>Created By</b></td>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                    {{if eq .IsDeleted false}}
                        <tr>
                            <td>{{ .ID }}</td>
                            <td>{{ .Type }}</td>
                            <td>{{ .CurrentStep }}</td>
                            <td>{{ .Status }}</td>
                            <td><a href="/request/detail?id={{ .ID }}">View</a></td>
                            <td><a href="/request/delete?id={{ .ID }}" onclick="return confirm('Are you sure?')">Delete</a></td>
                            <td>{{ .CreatedAt }}</td>
                            <td>{{ .CreatedBy }}</td>
                        </tr>
                    {{end}}
                {{ end }}
            </tbody>
        </table>
    </body>
    <script>
        $(document).ready(function() {
            $('#echo').DataTable();
        } );
    </script>
</html>
{{ end }}