{{ define "Login" }}
<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <form method="POST" action="/auth" id="loginForm">
        <table>
            <thead></thead>
            <tbody>
                <tr>
                    <td><b>Username</b></td>
                    <td><input type="text" name="username" required></td>
                </tr>
                <tr>
                    <td><b>Password</b></td>
                    <td><input type="password" name="password" required></td>
                </tr>
            </tbody>
        </table>
    </form>
    <button type="submit" form="loginForm" value="login" autofocus>Login</button>
</body>
</html>
{{ end }}