{{define "Password"}}
<!DOCTYPE html>
<html lang="en">
    <h3>Your New Password:</h3>
    <form method="POST" action="/home/password/update" id="pass">
        <input type="password" name="password" placeholder="your new password" required><br>
    </form><br>
    <button type="submit" form="pass" autofocus>Save</button>
</html>
{{end}}