{{ define "Edit" }}
<!DOCTYPE html>
<html lang="en-US">
    <form method="POST" action="/admin/role/update" id="EditForm"> 
        <table border="1">
            <thead></thead>
            <tbody>
                <tr>
                    <td><b>Name</b></td>
                    <td><input type="text" name="name" value="{{ .Name }}"></td>
                </tr>
            </tbody>>
        </table><br>
    </form>
     <button type="submit" form="EditForm" autofocus>Save</button> 
</html>
{{ end }}